name: Run Tests

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Extism and XTP
        run: |
          curl -O https://raw.githubusercontent.com/extism/js-pdk/main/install.sh
          sh install.sh
          curl https://static.dylibso.com/cli/install.sh | sh

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '21'

      - name: Install
        run: |
          npm ci

      - name: Build
        run: |
          npm run build

      - name: Run test script
        run: |
          cd tests && ./test.sh

      - name: Run Bindgen Test
        run: |
          # we already have a folder named bundle
          # move it before we get the simulation bundle
          # TODO change the name
          mv bundle template-bundle

          curl -L https://github.com/dylibso/xtp-bindgen-test/releases/download/0.0.3/bundle.zip > bundle.zip
          unzip bundle.zip
          cd bundle/

          # Using ../template-bundle so we test the head template
          xtp plugin init --schema-file schema.yaml --template ../template-bundle --path exampleplugin --feature stub-with-code-samples
          cd exampleplugin/ && npm run build && cd ..
          xtp plugin test exampleplugin/dist/plugin.wasm --with test.wasm --mock-host mock.wasm

